<h1>Tell us about your pirate!</h1>

<form  method="POST" action="/pirates">
  <label for="name">What is this pirates name?</label>
  <input type="text" name="name">
<br>
  <label for="birthplace">Where was this pirate born?</label>
  <input type="text" name="birthplace">
<br>
  <label for="death_year">What year did this pirate die?</label>
  <input type="text" name="death_year">
<br>
  <label for="base">Where was this pirates base?</label>
  <input type="text" name="base">
<br>
  <label for="nickname">What was this pirates nickname?</label>
  <input type="text" name="nickname">
<br>
  <button>SUBMIT</button>
</form>

<a href="/pirates">Go Bach to the mainland!</a>
